* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  padding: 10px 40px;
  background-color: navy;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

header {
  /* background-color: green; */
  height: 5vh;
}

h4 {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

main {
  height: 85vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: all 0.5s ease;
  /* border: 0.5px solid white; */
}

button:active ion-icon {
  color: yellow;
  /* transform: scale(95); */
}

ion-icon {
  font-size: 200px;
  display: block;
  color: white;
}

.dir1 {
  display: flex;
  gap: 20px;
}

.dir2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.speed-down ion-icon, .speed-up ion-icon {
  font-size: 100px;
  color: gray;
}
.controls {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speed-meter {
  display: flex;
  height: 5vh;
  justify-content: center;
  gap: 20px;
}
.speed {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: white;
}

.speed-1{
  background-color: #66a96f;
}
/* .speed-2{
  background-color: #00700f;
}
.speed-3{
  background-color: #004e0b;
} */

@media screen and (max-width: 800px) {
  ion-icon {
    font-size: 150px;
    display: block;
    color: white;
  }
}

@media screen and (max-width: 450px) {
  ion-icon {
    font-size: 80px;
    display: block;
    color: white;
  }
  .container {
    padding: 20px 20px;
  }
}
